<div id="stream-container" class="container p-3">
  <h1 class="title">Lives en cours</h1>
  <div class="d-grid row justify-content-center">
    
    <% if Stream.all.size == 0 %>
      <p id="no-stream">Il n'y a rien à voir pour l'instant. Reviens plus tard !</p>
    <% else %>
      <% @streams.each do |stream| %>
        <div class="stream_card">
          <div class="top-infos">
            <p class="stream-infos"><%= stream.name.capitalize %></p>
            <p class="stream-infos"><%= stream.viewers %></p>
          </div>
          <% url_link = "http://www.twitch.tv/#{stream.name}" %>
          <%= link_to "#{image_tag(stream.preview_url, alttext: "Stream de #{stream.name}")}".html_safe, url_link.html_safe, class:"stream_preview" %>
          <div class="d-flex">
            <div class="title_stream">
              <p class="stream-infos"><%= stream.title %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    
  </div>
</div>



