<div class="navbar-mindcity">
  <div class="link">
    <%= link_to "#{image_tag('logo.png', width: 40)}".html_safe, root_path %>
  </div>
  <div class="link">
    <%= link_to "Règlement", reglement_path %>
  </div>
  <div class="link">
    <%= link_to "Lives", streams_path %>
  </div>
</div>