<div class="container p-3">
  <%= image_tag '2gkQvWH.png', alttext: "Mind city logo", class: "w-100 p-3" %>
  <div class="d-flex mindcity_links">
    <%= link_to "Accéder aux règles", reglement_path, class: "mdc-rules" %>
    <%= link_to "Accéder aux lives", streams_path, class: "mdc-rules" %>
  </div>
  <div class="pt-3">
    <h1>Bienvenue à Mind city</h1>
    <p>
      Ce serveur fonctionne sous forme de saisons. La première saison durera 2 mois. <br>
      À la fin de celle-ci, le serveur fermera pour une courte pause afin d'effectuer différents ajustements. Pour vous, joueurs, cela vous permettra d'incarner plusieurs personnages sans vouloir forcément s'engager sur du long terme.
    </p>
  </div>
</div>