<div class="container p-3">
  <h1 class="title">Règles Générales</h1>
    <p>
      Ceci est un serveur fun-RP. Votre vie privée est prioritaire et personne ne doit vous forcer à être présent.
    </p>
    <ul>
      <li><strong>Les provocations et insultes :</strong> Il est interdit de provoquer de façon non-RP des joueurs, ou de façon inutile et répétée, dans le but de créer des scènes. Ne provoquez des joueurs que dans le cadre de votre RP. Toutes insultes abusives sont soumises à un bannissement définitif !</li>
      <li><strong>Propos/ Comportement raciste, sexiste, homophobe/transphobe :</strong> En venir à des propos racistes, sexistes, homophobe/transphobe ou toute autre discrimination contre une personne est inadmissible, toute personne prise à commettre des actes comme ceux-ci sera banni définitivement.</li>
      <li><strong>Divulgations d'informations IRL :</strong> Le fait de divulguer des informations IRL publiquement et sans le consentement d'un joueur est lourdement sanctionné, tout comme le harcèlement c'est une des choses que nous prenons très au sérieux.</li>
    </ul>
    <p>
      La <strong>cohérence RP</strong> est un élément obligatoire sur MindCity, elle englobe la cohérence :
    </p>
    <ul>
      <li>De votre personnage, de ses origines / appartenances, de son background propre à lui, du background de l’organisation en cas d’affiliation et de son évolution sur Los Santos.</li>
      <li>Du lore de GTA V (Los Santos, USA) est à prendre en compte et à respecter comme par exemple des les lieux publiques ou encore les corners de deal réputés comme dangereux.</li>
      <li>De la projection du jeu dans la vie réelle (alliances, capacité à réaliser certaines actions, risques, crainte et conséquences)</li>
    </ul>
    <p>
      Toute personne masquée ne peut être reconnu par la voix ou la tenue ou bien sa voiture.
    </p>
  <h2 class="title">Notions RolePlay</h2>
  <h3>Masse RP</h3>
    <p>
      Prendre en compte que vous êtes dans une ville remplis de milliers d'habitants, malgré l'absence de joueurs. Les joueurs ne sont pas les seuls habitants de Los Santos.
      <i>Exemple : Même s'il n'y a qu'un seul commissariat et quelques policiers, en réalité il y a beaucoup de commissariat dans la ville et énormément de policiers (pareil pour les gangs etc...)</i>
    </p>
  <h3>AFK (Away From Keyboard)</h3>
    <p>
      Il est toléré d'être AFK, mais veillez à l'être dans un endroit caché (comme les toilettes). Vous serez kick au bout de 5 minutes d'inactivité.
    </p>
  <h3>Fairplay</h3>
    <p>
      Vous êtes peut être des rivals In-Game mais pas IRL, soyez fairplay, laissez leur une “chance” RP de s’en sortir, et vice-versa. Il est par exemple interdit de braquer une banque à 3h su matin sachant que les effectifs du LSPD sont réduits la nuit.
    </p>
  <h3 class="keep_out_title">Interdictions</h3>
  <h3>HRP (Hors Role-Play)</h3>
  <p>
    Autrement dit “IRL” (In Real Life), tout ce qui se passe hors du jeux n’a rien à faire en vocal in game.
  </p>
  <h3>Freekill </h3>
  <p>
    C’est le fait de tuer quelqu’un sans raison RP. 
  </p>
  <h3>Carkill</h3>
  <p>
    Le fait de tuer ou même de percuter une personne avec une voiture/moto sans raison RP.
  </p>
  <h3>Powergaming</h3>
  <p>
    Réaliser une action en jeu qu’un individu réel ne pourrait faire. 
    <i>Exemple : tomber d'un toit de deux mètres puis se relever et courir.</i>
  </p>
  <h3>No Pain RP</h3>
  <p>
    Le No Pain RP est dans la même lignée que le No Fear RP, c’est le fait de ne pas être conscient de la douleur, de l’exprimer.
  </p>
  <h3>No Fear RP</h3>
  <p>
    C'est le fait de ne pas tenir compte de la peur de mourir, du danger ou bien de la prison par exemple.
  </p>
  <h3>Meta Gaming</h3>
  <p>
    C'est le fait d'utiliser des informations obtenues en dehors du RP (HRP) dans le RP.
  </p>
  <h3>Force Roleplay</h3>
  <p>
    C'est le fait de provoquer une action RP de force,
    <i>Exemple : Insulter un agent de police pour provoquer une course-poursuite. Appeler un taxi pour le braquer.</i>
  </p>
  <h3>StreamHack</h3>
  <p>
    Prendre des informations d'un streamer en live sur notre serveur et utiliser ces infos dans son RP.
  </p>
  <h2 class="title">Safe Zones</h2>
  <p>
    Les <strong>hôpitaux, l'hôtel de ville</strong> et les <strong>commissariats</strong> sont considérés comme des Safe Zone, il est donc <strong>interdit de braquer, agresser ou kidnapper</strong> qui que ce soit dans ce périmètre. 
    Considérez qu'il y aura toujours des caméras à l'intérieur et à l'extérieur de ces zones, elles peuvent donc être utilisées en RolePlay.
  
    À l’hôpital, vous êtes soumis à l’autorité des médecins.
    Au commissariat, vous êtes soumis à l’autorité des agents du LSPD.
  </p>
  <h2 class="title">Los Santos Police Department</h2>
  <p>
    Il n'est pas autorisé de jouer un membre ripoux du LSPD <strong>(Los Santos Police Department)</strong>.
    Évitez d’engager une fusillade. Privilégiez la négociation.
    Lors de votre prise de service vous devez prendre votre radio, et la déposer à la fin. L’usage des herses abusives sera sanctionné.

    Le temps de garde à vue est limité à 30 minutes maximum. Au-delà de ce temps, si l’individu n’est toujours pas en état d’arrestation alors il peut partir libre.

    Un agent de police ne pourra intervenir seul sur une fusillade, il sera dans l’obligation d’attendre les renforts. 
    Le LSPD a l’autorisation de tirer sur le véhicule dans le but de le neutraliser lorsque des atteintes à la vie ou à l’intégrité physique sont portées contre eux ou contre autrui.
    Le nombre d’unités sur interventions dépendra du jugement du capitaine en fonction des circonstances.

    Seuls les agents de la LSPD ayant leur PPA pourront posséder des armes à feu, et les agents n’ayant leur PPA se contenteront d’un tazer et d’une matraque. 
    Les armes de services sont à posséder que lors de votre service, une fois celui-ci terminé déposez-les dans l’armurerie du commissariat central, faire usage de celle-ci hors service est passible d’un avertissement.

    Pour démanteler une organisation et/ou un laboratoire de drogue, un léger dossier possédant des preuves sera demandé par l’équipe d’administration.
  </p>
  <h2 class="title">Los Santos Medical Service</h2>
  <p>
    Le RP EMS est un RP légal, il est formellement interdit de pratiquer de l'illégal en tant que membre de l’EMS.

    Il est <strong>interdit de vendre</strong> des objets et médicaments appartenant à l’EMS.

    Tout comme les entreprises et le LSPD, il est interdit d'abandonner un véhicule de service ou d'en faire apparaître un nouveau afin d'éviter de passer par les mécaniciens.
  </p>
  <h2 class="title">Mort RP</h2>
  <p>
    La mort RP signifie la <strong>mort définitive</strong> de votre personnage.

    Cela peut être une mort avec une scène planifiée ; les morts RP prévus doivent se faire via un dossier envoyé aux membres de l’équipe du staff, indiquant les raisons et motivations.

    Ou alors, vous pouvez faire une demande de wipe auprès du staff ; dans ce cas-ci, vous disposez de 15 jours pour mourir. Dès que votre dossier est accepté, le prochain coma de votre personnage sera sa mort.
  </p>
  <h2 class="title">Conseils aux novices</h2>
  <p>
    Il n'est pas nécessaire d'avoir un personnage avec un background très approfondi. Il est cependant important d'arriver en ville avec un objectif qui sera la ligne directrice de votre séjour.

    Un premier conseil en arrivant à Los Santos, trouvez-vous un travail. Vous pourrez faire connaissance avec clients et collègues.
    Les métiers tel que le EMS et le LSPD favorise la socialisation. <br>

    <strong><u>Quelques termes :</u></strong>
    <ul>
      <li>Avoir mal à la tête = il y a du lag</li>
      <li>Docteur lobby = déconnexion / reconnexion</li>
      <li>Prendre une pastille pour la gorge = dire à quelqu'un qu'il est mute ou qu'il est incompréhensible</li>
      <li>Aller méditer = faire des modifications de paramètres ou être afk un très court instant</li>
      <li>Tempête = reboot du serveur</li>
    </ul>
  </p>
  <h2 class="title">Criminalité</h2>
  <h3>Interdiction</h3>
  <ul>
    <li>De mettre dans le coma une personne coopérative.</li>
    <li>De récolter/traiter/revendre de la drogue depuis votre véhicule.</li>
    <li>De prendre en otage le vendeur des superettes.</li>
    <li>De tirer à vue sur d'autres joueurs sans raison valable.</li>
    <li>De braquer la même personne dans un laps de temps réduit.</li>
    <li>De faire une prise d'otage si l'activité en ville est faible, qu'il y a peu de policiers.</li>
    <li>D'appeler le LSMS, les taxi, le LSPD ou l'armurier dans le but de le braquer.</li>
  </ul>

  <p>
    Concernant les braquages, merci d'en planifier maximum un par jour par groupe/gang, que cela soit des superettes ou autres. <br>
    Les travailleurs sont autorisés à farmer sur les points de drogue mais seulement pour la récolte ou la vente. <br>
    Privilégiez la discussion au gunfights. Les gunfights doivent être utilisés en dernier recours, si aucune autre solution n'est possible.
  </p>
</div>
