.navbar-mindcity {
  height: 56px;
  padding: 8px 16px;
  background-color: rgba($color: #2d2d3d, $alpha: 1.0);
  display: flex;
  align-items: center;
}

.link {
  margin-right: 16px;
  color: white;
  text-decoration: none;
}